*{
    margin:0;
    font-family:  sans-serif;
    
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.logo{
    display: flex;
    align-items: center;
    gap:8px;
}
.mid{
    display: flex;
    gap:20px;
    font-size: 18px;
}
.section1{
    
    position: relative;
}
.section1 img{
    width:100%;
    height:50%;
  
    
}
.text{
    position:absolute;
    top:300px;
    left:90px;
}
.featu{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    color:white;
    background-color: #3559C7;
    justify-content: center;
    align-items: center;
    padding:30px;
    position: absolute;
    right:0px;
    bottom:2px;
}
.btns{
    display: flex;
    gap:5px;
     width:100%;
     
}
.btn{
    
    display: flex;
   
    padding:10px 20px;
    font-size: 20px;
    color:white;
    background-color: #292E3D;
    border:none;
}
.section2{
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    justify-content: center;
    margin-top: 50px;
    align-items: center;
}
.row{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:20px;
}
.card{
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    border-radius: 10px;
    border: 1px solid grey;
    padding:20px;
}
.section3{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    position: relative;

}
.about{
    width:400px;
background-color: #2947A9;
color:white;
display: flex;
flex-direction: column;
row-gap: 20px;
padding:30px;
position: absolute;
right:100px;
top:200px;
}
.more{
    background-color: white;
    color:#3559C7;
    font-weight: 700;
    padding:10px;
    border: none;
    width:40%;
    border-radius: 10px;
}
.section4{
    background-color: #F6F8F7;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    padding:40px;
}
.row1{
    display: flex;
    gap:100px;
    margin-top: 20px;
}
.card1{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding:60px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    color:blue;
    background-color: white;;
}
.card1bl{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding:60px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color:blue;
    color: white;;
}
.section5{
    display: flex;
    margin-top: 100px;
    justify-content: center;
    align-items: center;
}
.left{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    width:50%;

}
.tx{

  
    padding:20px;
    width:200px;
     box-shadow: 0px 10px 10px grey;
   
}
.card2{
     position: relative;
     width:200px;
     
    
}
.im2{
    position: absolute;
    left:170px;
    top:-50px;
}
.right{
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    width:330px;
}
.cont{
    padding:15px;
    width:50%;
    background-color: #2947A9;
    color:white;
    font-weight: 700;
    border: none;
    border-radius: 10px;
}